<%-include header%>

<div class="container">
    <div class="jumbotron">
        <h1>Online NoteBook</h1>
        <p>重置窗口大小,查看响应式效果!</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h3>发布笔记</h3>
            <p>在这里你可以发布信息</p>
            <p>积少成多</p>
        </div>
        <div class="col-sm-4">
            <h3>浏览笔记</h3>
            <p>也可以回顾过去的笔记</p>
            <p>复习回顾</p>
        </div>
        <div class="col-sm-4">
            <h3>注册吧!</h3>
            <p>很简单只要两步</p>
            <p>马上加入我们!</p>
        </div>
    </div>
</div>

<%-include footer%>
